In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("data2.csv")

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
series = pd.isnull(df["math score"])
df[series]

In [ ]:
df.notnull().sum()

In [ ]:
series1 = pd.notnull(df["math score"])
df[series1]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['gender'] = le.fit_transform(df['gender'])
newdf=df
df

In [ ]:
missing_values = ["Na", "na"," "]
df = pd.read_csv("data2.csv", na_values = missing_values)
df

In [ ]:
ndf=df
ndf.fillna(0)
ndf

In [ ]:
df['reading score'] = df['reading score'].fillna(df['reading score'].median())
df

In [ ]:
df['math score'] = df['math score'].fillna(df['math score'].mean())
df

In [ ]:
df['writing score'] = df['writing score'].fillna(df['writing score'].std())
df

In [ ]:
df['Placement Score'] = df['Placement Score'].fillna(df['Placement Score'].min())
df

In [ ]:
df

In [ ]:
ndf.replace(to_replace = np.nan, value = -99)

In [ ]:
ndf.dropna()

In [ ]:
ndf.dropna(how = 'all')

In [ ]:
ndf.dropna(axis = 1)

In [ ]:
new_data = ndf.dropna(axis = 0, how ='any')
new_data

In [ ]:
df=pd.read_csv("data22.csv")
df

In [ ]:
import matplotlib.pyplot as plt
col = ['math score', 'reading score' , 'writing score','placement score']
df.boxplot(col)

In [ ]:
print(np.where(df['math score']>90))
print(np.where(df['reading score']<25))
print(np.where(df['writing score']<30))

In [ ]:
fig, ax = plt.subplots(figsize = (10,3))
ax.scatter(df['placement score'], df['placement offer count'])
plt.show()

In [ ]:
df.plot(kind = 'scatter', x = 'placement score', y = 'placement offer count')
plt.show()

In [ ]:
from scipy import stats

In [ ]:
z = np.abs(stats.zscore(df['math score']))

In [ ]:
print(z)

In [ ]:
threshold = 0.18

In [ ]:
sample_outliers = np.where(z <threshold)
sample_outliers

In [ ]:
sorted_rscore= sorted(df['reading score'])
sorted_rscore

In [ ]:
q1 = np.percentile(sorted_rscore, 25)
q3 = np.percentile(sorted_rscore, 75)
print(q1,q3)

In [ ]:
IQR = q3-q1

In [ ]:
lwr_bound = q1-(1.5*IQR)
upr_bound = q3+(1.5*IQR)
print(lwr_bound, upr_bound)

In [ ]:
r_outliers = []
for i in sorted_rscore:
  if (i<lwr_bound or i>upr_bound):
    r_outliers.append(i)
print(r_outliers)